.foot{
	bottom: 0;
	position: fixed;
	width: 98%;
	display: flex;
	margin: 10px 12px;
	justify-content: space-between;
	align-items: center;
	height: 8%;
	background-color: var(--primary-bg);
	color: var(--primary-text);
}


.ofoot{
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
}

.ofoot p, .ofoot .footicon{
	font-size: 18px;
	text-decoration: none;
	color: var(--primary-text);
}