.login{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap:wrap ;
	background-color: var(--primary-bg);
	color: var(--primary-text);
	height: 100vh;
	width: 100vw;
}


.login input, .name input{

	padding: 15px 15px;
	margin: 10px 10px;
	width: 50vw;
	border-radius: 8px;
	color: var(--primary-bg);
	background-color: var(--primary-text);
	font-size: 15px;
}


.signup{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login p{
	color: var(--primary-text);
	font-size: 16px;
}


.signup .theprofile {
	width: 120px;
	height: 120px;
	border-radius: 50%;
}


.image {
	display: flex;
	justify-content: center;
	align-items: center;
}

.image p{
	margin-left: 12px;
}



