:root{
  --primary-bg:black;
  --secondary-bg:wheat;
  --primary-text:white;
  
}


.mainct{
  margin-top: 100px;
}


.btn{
  border: none;
  padding: 10px 10px;
  margin: 10px 10px;
  border-radius: 5px;

}


.btn:hover{
  background-color:var(--primary-bg) ;
  color: var(--primary-text);
}